---
- name: "Debian | Install prerequisites"
  ansible.builtin.apt:
    name: "acl"
    state: present
    update_cache: true
  when: ansible_facts.os_family == 'Debian'

- name: "{{ ansible_facts.os_family }} | Manage dotfiles for defined users"
  ansible.builtin.include_tasks: manage_user.yml
  loop: "{{ dotfiles_users }}"
  loop_control:
    loop_var: "current_user"